.nav_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 10px;
}

.left {
  display: flex;
  align-items: center;
  gap: 7px;
  flex: 1;
}

.icon {
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(30, 255, 0, 0.2);
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  font-size: 90%;
  color: rgb(0, 137, 0);
}

.searchBox {
  margin-right: 9px;
  position: relative;
  flex: 2;
}

.searchBox input {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px 9px;
  width: 96%;
}

.searchBox span {
  display: absolute;
  right: 3px;
}

.quran {
  font-weight: 750;
  font-size: 150%;
}

@media (max-width: 768px) {
}
