.container {
  padding: 15px;
  max-height: 90vh;
  height: 100%;
  position: absolute;
  width: 96%;
  left: 0.5%;
  background-color: white;
  z-index: 1;
  top: 1%;
  /* left: 10%; */
  margin: auto;
  box-shadow: 3px 3px 3px 3px lightgrey;
}

.results {
  position: relative;
}

.loading {
  position: absolute;
  top: 75%;
  left: 46%;
  background-color: transparent;
}
.container .results {
  max-height: 80vh;
  height: 80vh;
  overflow-y: scroll;
}



.results::-webkit-scrollbar {
  width: 0.5rem;
}

.results::-webkit-scrollbar-track {
  background-color: rgba(160, 178, 0, 0.2);
}

.results::-webkit-scrollbar-track:hover {
  background-color: rgba(3, 147, 10, 0.2);
}
.results::-webkit-scrollbar-thumb {
  background: yellowgreen;
}

.results::-webkit-scrollbar-thumb:hover {
  background: green;
}
.container span {
  position: absolute;
  top: 19px;
  right: 22px;

  font-weight: bold;
  font-size: 130%;
  padding: 2px;
  background: rgba(25, 113, 3, 0.1);
  color: red;
  cursor: pointer;
  /* border-radius: 50%; */
}

.container form {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.container form input {
  padding: 7px 0;
  margin: 7px;
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgrey;
}

.heading {
  color: green;
  font-size: 150%;
  padding: 10px 0;
  border-bottom: 1px solid green;
}

.verse {
  padding: 7px;
  box-shadow: 1px 1px 1px 1px grey;
  background-color: white;
  margin: 15px 7px;

  cursor: pointer;
  padding-bottom: 12px;
}

.verse_meaning {
  font-weight: 550;
  font-size: 100%;
  margin-bottom: 12px;
}

.reference {
  /* margin: 7px 0; */
  font-weight: 450;
  font-size: 85%;
  color: green;
  display: inline;
  border: 1px solid green;
  font-weight: 450;
  padding: 5px;
  background-color: rgb(0, 0, 0, 0.1);
  text-align: right;
}
